html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 28px;
	background-color: #f7f7fe;
	background-image: url("../img/lines-bg-left.svg"),
		url("../img/lines-bg-right.svg");
	background-position: left -120px bottom -460px, right -100px top -100px;
	background-repeat: no-repeat;
	color: #6e728e;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* BUTTONS */
.button {
	padding: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	line-height: 125%;
	letter-spacing: 1.5px;
	border: 1px solid transparent;
	border-radius: 6px;
	border: 1px solid transparent;
}
.button-block {
	display: block;
	text-align: center;
	width: 100%;
}
.button-primary {
	background-color: #696edd;
	background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
	color: #fff;
}

.button-primary:hover {
	background-color: white;
	background-image: none;
	border-color: #696edd;
	color: #696edd;
}

.button-white {
	color: #696edd;
	background-color: #fff;
}

.button-white:hover {
	color: #fff;
	background-color: transparent;
	border-color: white;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1100px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

.page {
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-title {
	font-size: 32px;
	line-height: 125%;
	margin-top: 0;
	margin-bottom: 40px;
}
.switch {
}
.pricing {
}

.pricing-inner {
	display: flex;
	align-items: center;
}
.pricing-plan {
	width: 350px;
	flex-grow: 1;
	padding: 27px 32px;
	background-color: #fff;
	text-align: center;
}

.pricing-plan:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.pricing-plan:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pricing-plan-best {
	background-color: #696edd;
	background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
	color: #fff;
	border-radius: 10px;
	padding-top: 54px;
	padding-bottom: 54px;
}
.pricing-plan-title {
	text-align: center;
	font-size: 18px;
	line-height: 155%;
	margin-top: 0;
	margin-bottom: 24px;
}
.pricing-plan-price {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 72px;
	letter-spacing: -2px;
	/* color: #4a4d60; */
	margin-top: 0;
	margin-bottom: 24px;
}
.pricing-plan-currency {
	font-size: 40px;
	line-height: 125%;
}
.pricing-plan-features {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 24px;
	border-top: 1px solid rgba(110, 114, 142, 0.25);
}
.pricing-plan-feature {
	font-size: 15px;
	line-height: 185%;
	padding: 16px;
	border-bottom: 1px solid rgba(110, 114, 142, 0.25);
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}
